@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Festive&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  background: linear-gradient(-45deg, #52dcee, #0c0c0c, #13116d, #080808);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  overflow: hidden;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
    transform: scale(20px);
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.content {
  position: relative;
  z-index: 1;
  margin-top: 50px;
}
.content h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}
.content h1 {
  font-weight: 700;
  font-size: 80px;
  color: #2ef3c2;
  font-family: 'Arizonia', cursive;
}

.animate__animated animate__heartBeat {
  --animate-duration: 3s;
}
.content .form {
  margin: 50px 0;
  border-radius: 25px;
}
.content .form .email-field {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form .email-field input {
  width: 80%;
  height: 7vh;
  padding-left: 20px;
  border: none;
  outline: none;
}
.form .email-field button {
  height: 7vh;
  width: 220px;
  outline: none;
  border: none;
  background: #334afe;
  color: #fff;
  cursor: pointer;
}
.form .email-field button:hover {
  background: #2ef3c2;
  transition: 0.5s ease-in-out linear;
  transform: scale(0.8);
  color: #0c0c0c;
  font-size: 18px;
}

.content .countdown {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.content .countdown .timer {
  height: 100px;
  width: 100px;
  border: 2px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.countdown .timer .numb {
  font-size: 25px;
  font-weight: 600;
}
.countdown .timer .text {
  font-size: 15px;
}
.countdown .clone {
  font-size: 45px;
  font-family: bolder;
}
/*Visitor count*/
.visitor {
  text-align: center;
  color: white;
  font-size: 14px;
  font-family: poppins;
  margin-top: 20px;
}
section {
  display: absolute;
  z-index: 1;
}
.credits {
  font-size: 10px;
  text-align: center;
  padding: 0 20px;
  display: absolute;
  color: #ffff;

  z-index: 1;
  margin-top: -80px;
}

/* media starts for big screen */

@media (max-width: 1280px) {
  .content .countdown {
    font-size: 88px;
  }
  .countdown h1 {
    font-size: 128px;
  }
  .credits {
    display: none;
  }
}
@media (max-width: 1024px) {
  .content .countdown {
    font-size: 72px;
    padding: 0 20px;
  }

  .countdown h1 {
    font-size: 96px;
  }
  .content .form .email-field {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .content .countdown {
    font-size: 56px;
  }
  .content h1 {
    font-size: 72px;
  }
  .content .form .email-field {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .content h1 {
    width: 100%;
    font-size: 70px;
    padding-bottom: 30px;
  }
  h2 {
    margin-top: -300px;
  }

  .content .countdown {
    font-size: 48px;
  }
  .content .form .email-field {
    width: 100%;
    margin-right: 12px;
  }
  .visitor {
    font-size: 30px;
    margin-top: 40px;
  }
  .credits {
    font-size: 20px;
  }
  .countdown .clone {
    display: none;
  }
  .content .countdown .timer {
    border: none;
    margin: 0;
  }
  .countdown .timer .text {
    font-size: 20px;
  }
}
